/* Reset */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,dfn,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

@font-face {
  font-family: 'socicon';
  src: url('socicon/font/socicon-webfont.eot');
  src: url('socicon/font/socicon-webfont.eot?#iefix') format('embedded-opentype'),
  url('socicon/font/socicon-webfont.woff') format('woff'),
  url('socicon/font/socicon-webfont.ttf') format('truetype'),
  url('socicon/font/socicon-webfont.svg#sociconregular') format('svg');
  font-weight: normal;
  font-style: normal;
  text-transform: initial;
}

.socicon {
  font-family: 'socicon' !important;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
}

body{
  margin:0;
  padding:0;
  color: #fff;
  position: relative;
  font-family: 'Merriweather', serif;
  text-align: center;
}

.wrapper{
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.abovebanner{
  width: 100%;
  float: left;
  position: relative;
  background-size: cover;
  min-height: 499px;
}

.header{
  width: 100%;
  float: left;
  display: table-cell;
  margin-bottom: 20px;
}

h1{
  font-family: 'Lato', sans-serif;
  font-size: 60px;
  color: #000;
}
h1 span{
  color: #787a82;
}

p.line1{
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #000;
}

.belowbanner{
  margin-top: 20px;
  width: 100%;
  float: left;
}

h2{
  font-size: 12px;
  color: #000;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.email{
  width: 49%;
  float: left;
  border-right: 1px solid #d3d1cf;
}
.email a{
  color: #000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
email a:hover{
  color: #235ed0;
  text-decoration: underline;
}

.social{
width: 49%;
float: left;
}
.social a{
  margin: 0 15px;
  color: #000;
  text-decoration: none;
}
.social a:hover{
  color: #235ed0;
  opacity: 0.7;
}

@media only screen and (max-width: 1024px){
  .abovebanner{
    min-height: 400px;
  }
  .header{
    width: 100%;
    float: left;
    display: table-cell;
  }
  .social a{
    margin: 0 10px;
  }
}

@media only screen and (max-width: 768px){
  .abovebanner{
    width: 100%;
    float: left;
    position: relative;
    background: url(../images/background.png) center top no-repeat;
    background-size: cover;
    min-height: 360px;
  }
  .header{
    width: 100%;
    float: left;
    display: table-cell;
    margin-bottom: 20px;
  }
  h1{
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    color: #000;
  }
  p.line1{
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  h2{
    display: none;
  }
  .email, .social{
    width: 80%;
    margin: 0 10%;
    padding: 20px 0;
    float: left;
    border-right: none;
  }
  .email{
    border-bottom: 1px solid #f4f4f3;
  }
  .belowbanner{
    margin-top: 20px;
  }
}
