@import url('https://fonts.googleapis.com/css?family=Inconsolata');

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

footer.page-footer {
  margin: 0;
}

h1 {
  margin-bottom: 0 !important;
  height: 65px !important;
  font-weight: bold !important;
}

h5 {
  margin-top: 0;
}

h2 {
  font-weight: light;
  text-transform: uppercase;
}

.pre-interactive {
  padding-right: 0;
  padding-left: 0;
  margin-top: 41px;
}
.interactive {
  margin: 30px 0 0 2px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.input-field.inline input, .input-field.inline .interactive {
  margin-bottom: 4px;
}

.no-bot-margin {
  margin-bottom: 0 !important;
}

.divider {
  margin-left: 35px;
  margin-right: 35px;
  background-color: orange;
}

.section-header {
  margin-bottom: 0;
}

.button-interactive {
  margin-top: 31px;
  margin-left: 10px;
}

.section {
  padding-bottom: 0px;
  margin-top: 50px;
}

.section-content {
  padding-left: 50px;
  padding-right: 50px;
}

.card {
  /*margin: 30px;*/
}

code,
kbd,
pre,
samp {
  font-family: 'Inconsolata', monospace;
  font-size: 1em;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre {
  padding: 10px 20px;
  overflow: auto;
  max-height: 500px;
}
.card-content{
  margin: 0 !important;
  padding: 0 !important;
}
.json-key {
   color: purple;
}
.json-value {
   color: navy;
}
.json-string {
   color: black;
}
