/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 680px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.main-header {
  min-height: 350px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

h1 {
  margin-bottom: 0 !important;
  height: 65px !important;
  font-weight: bold !important;
}

h5 {
  margin-top: 0;
}

h2 {
  font-weight: light;
  text-transform: uppercase;
}

.pre-interactive {
  padding-right: 0;
  padding-left: 0;
  margin-top: 41px;
}
.interactive {
  margin: 30px 0 0 2px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.input-field.inline input, .input-field.inline .interactive {
  margin-bottom: 4px;
}

.button-interactive {
  margin-top: 31px;
  margin-left: 10px;
}

.card {
  border-radius: 10px !important;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  /*height: 400px;*/
  font-family: monospace, monospace;
  font-size: 1em;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre {
  padding: 10px 20px;
  /*margin: 10px;*/
  overflow: auto;
  max-height: 500px;
}
.card-content{
  margin: 0 !important;
  padding: 0 !important;
}
.json-key {
   color: purple;
}
.json-value {
   color: navy;
}
.json-string {
   color: DimGrey;
}
